/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  text-align: justified;
  line-height: 1.6;
  padding: 20px;
  max-width: 120ch; /* Limit line length to 120 characters */
  margin: auto;
}

/* Image Styling */
header-image {
  width: 100%; /* Makes the image span the full width of the container */
  height: auto; /* Maintains aspect ratio */
  margin-bottom: 20px; /* Adds space below the image */
  border-bottom: 2px solid #00ffff; /* Adds a subtle line below the image for design */
}

/* Header Styling */
header {
  background-color: #003300; /* Forest Green background */
  padding: 30px 20px;
  text-align: justified;
  color: #fff;
}

header img {
  width: 100%; /* Full width of container */
  height: auto;
  margin-bottom: 20px;
  border-bottom: 4px solid #006600; /* Subtle border for a more refined look */
}

header h1 {
  font-size: 2.8rem;
  color: #fff; /* White text */
  letter-spacing: 1px;
}

header p {
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

/* About Section */
#about {
  margin: 30px 0;
}

#about h2 {
  font-size: 2.2rem;
  color: #fff;
}

#about p {
  font-size: 1.1rem;
  color: #d3d3d3; /* Light gray text */
  line-height: 1.6;
  margin: 10px 0;
}

#portfolio {
  color: #fff;
}

/* Footer Styling */
footer {
  background-color: #003300; /* Forest Green */
}